<div class="my-5 w-full h-full">
  <h3 class="text-center">
    Welcome to CinemaPedia <i class="fa-solid fa-film"></i>
  </h3>
  <div>
    <form
      class="d-flex justify-content-center gap-3 mt-2"
      (ngSubmit)="search()"
    >
      <input
        type="text"
        class="form-control border-2 border-dark"
        style="width: 40%"
        placeholder="Enter the Movie Title"
        [(ngModel)]="input"
        name="usearch"
        (input)="onInputChange()"
      />
      <button type="submit" class="btn btn-dark">Search</button>
    </form>
  </div>

  <div *ngIf="showSearch">
    <div class="container my-5 text-center">
      <h5 class="my-3">Your Search Result: {{ showSearch }}</h5>
      <div class="row">
        <div
          class="col-sm-12 col-lg-2 mb-3 col-md-4"
          *ngFor="let search of searchData"
        >
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + search.poster_path"
            class="card-img-top img-fluid"
            alt="Not avaiable"
            [routerLink]="'/movie/' + search.id"
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!showSearch">
    <div class="my-5 text-center">
      <h4 class="my-5">
        Trending Movies
        <i class="fa-solid fa-fire fa-beat" style="color: #c84646"></i>
      </h4>
      <app-movie-cards></app-movie-cards>
    </div>
    <div class="my-5 text-center">
      <h4 class="my-5">
        Upcoming Movies
        <i class="fa-regular fa-calendar fa-bounce" style="color: #87cefa"></i>
      </h4>
      <app-upcoming-movies-card></app-upcoming-movies-card>
    </div>
    <div class="my-5 text-center">
      <h4 class="my-5">
        Top-Rated Movies
        <i class="fa-solid fa-star fa-spin" style="color: #ffd700"></i>
      </h4>
      <app-top-movies-card></app-top-movies-card>
    </div>
  </div>
</div>
